# Firebase service account key
firebaseAuthKey.key

# Local ENV files
.env.local
.env.*.local

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Dependecies
/node_modules
/pnpm-lock.yaml
/yarn.lock
/package-lock.json
